/Task3_Exploratory Data Analysis Retail
/Task4_Exploratory Data Analysis Terrorism
/Task5_Exploratory Data Analysis Sports
/Task6_Prediction using decision Tree
/Task7_Stocks Market Prediction Using Nuhmerical and Textual Data
/Task8_Timeline Analysis covid19